In [87]:
import pandas as pd

In [88]:
import snowflake.connector as snow
from snowflake.connector.pandas_tools import write_pandas

In [89]:
conn = snow.connect(user="Sukeerthi31",
   password="Optum#2021",
   account="cx51711.ap-south-1.aws",
   warehouse="COVID",
   database="INDIA_COVID",
   schema="INDIA_DAILY_CASES")

In [90]:
cur = conn.cursor()

sql = "truncate table if exists INDIA_CASES"
sql_one="drop file format if exists INDIA_COVID.INDIA_DAILY_CASES.India_Data"
sql_two="drop stage if exists INDIA_COVID.INDIA_DAILY_CASES.INDIA_CASES"
cur.execute(sql)
cur.execute(sql_one)
cur.execute(sql_two)
cur.close()

True

In [91]:
cur_col=conn.cursor()
sql="CREATE FILE FORMAT INDIA_COVID.INDIA_DAILY_CASES.India_Data TYPE = 'CSV'  FIELD_OPTIONALLY_ENCLOSED_BY = '\042' ERROR_ON_COLUMN_COUNT_MISMATCH = FALSE"
sql_one="CREATE STAGE INDIA_COVID.INDIA_DAILY_CASES.INDIA_CASES"
cur_col.execute(sql)
cur_col.execute(sql_one)
cur_col.close()

True

In [92]:
cur_insert=conn.cursor()
sql="PUT file://C://users//HP//Desktop//covid//covid_19_daily_reports_india_codes.csv @india_cases auto_compress=true"

cur_insert.execute(sql)
cur_insert.close()

True

In [93]:
cur_put=conn.cursor()
sql_one="copy into india_cases from @india_cases file_format = (format_name = india_data) pattern = '.*.csv.gz' on_error = continue"
cur_put.execute(sql_one)
cur_put.close()

True

In [79]:
conn.close()