In [5]:
import pandas as pd

df_conf=pd.read_csv('time_series_covid19_confirmed_global.csv')
fl_data=pd.read_csv("flourish_flags.csv")


country_list=df_conf["Country/Region"].unique()
fl_ctry=set(fl_data["Country Name"].unique())
false_set=set(country_list)-fl_ctry
set(country_list)-fl_ctry

{'Micronesia'}

In [6]:
"""
fl_data['Country Name'][fl_data['Country Name']=='Bahamas, The']='Bahamas'
fl_data['Country Name'][fl_data['Country Name']=="Brunei Darussalam"]='Brunei'
fl_data['Country Name'][fl_data['Country Name']=="Myanmar"]='Burma'
fl_data['Country Name'][fl_data['Country Name']=="Congo, Rep."]='Congo (Brazzaville)'
fl_data['Country Name'][fl_data['Country Name']=="Congo, Dem. Rep."]='Congo (Kinshasa)'
fl_data['Country Name'][fl_data['Country Name']=="Czech Republic"]='Czechia'
fl_data['Country Name'][fl_data['Country Name']=="Cruise Ship"]='Diamond Princess'
fl_data['Country Name'][fl_data['Country Name']=="Egypt, Arab Rep."]='Egypt'
fl_data['Country Name'][fl_data['Country Name']=="Gambia, The"]='Gambia'
fl_data['Country Name'][fl_data['Country Name']=="NA"]='Holy See'
fl_data['Country Name'][fl_data['Country Name']=="Iran, Islamic Rep."]='Iran'
fl_data['Country Name'][fl_data['Country Name']=="Korea, Rep."]='Korea, South'
fl_data['Country Name'][fl_data['Country Name']=="NA"]='Kosovo'
fl_data['Country Name'][fl_data['Country Name']=="Kyrgyz Republic"]='Kyrgyzstan'
fl_data['Country Name'][fl_data['Country Name']=="Lao PDR"]='Laos'
fl_data['Country Name'][fl_data['Country Name']=="Cruise Ship"]='MS Zaandam'
fl_data['Country Name'][fl_data['Country Name']=="Macedonia, FYR"]='North Macedonia'
fl_data['Country Name'][fl_data['Country Name']=="St. Kitts and Nevis"]='Saint Kitts and Nevis'
fl_data['Country Name'][fl_data['Country Name']=="St. Lucia"]='Saint Lucia'
fl_data['Country Name'][fl_data['Country Name']=="St. Vincent and the Grenadines"]='Saint Vincent and the Grenadines'
fl_data['Country Name'][fl_data['Country Name']=="Slovak Republic"]='Slovakia'
fl_data['Country Name'][fl_data['Country Name']=="Syrian Arab Republic"]='Syria'
fl_data['Country Name'][fl_data['Country Name']=="NA"]='Taiwan*'
fl_data['Country Name'][fl_data['Country Name']=="USA"]='US'
fl_data['Country Name'][fl_data['Country Name']=="UAE"]='United Arab Emirates'
fl_data['Country Name'][fl_data['Country Name']=="UK"]='United Kingdom'
fl_data['Country Name'][fl_data['Country Name']=="Venezuela, RB"]='Venezuela'
fl_data['Country Name'][fl_data['Country Name']=="NA"]='Western Sahara'
fl_data['Country Name'][fl_data['Country Name']=="Yemen, Rep."]='Yemen'
"""

'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']==\'Bahamas, The\']=\'Bahamas\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Brunei Darussalam"]=\'Brunei\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Myanmar"]=\'Burma\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Congo, Rep."]=\'Congo (Brazzaville)\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Congo, Dem. Rep."]=\'Congo (Kinshasa)\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Czech Republic"]=\'Czechia\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Cruise Ship"]=\'Diamond Princess\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Egypt, Arab Rep."]=\'Egypt\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Gambia, The"]=\'Gambia\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="NA"]=\'Holy See\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Iran, Islamic Rep."]=\'Iran\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Korea, Rep."]=\'Korea, South\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="NA"]=\'Kosovo\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Kyrgyz Republic"]=\'Kyrgyzstan\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Lao PDR"]=\'Laos\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Cruise Ship"]=\'MS Zaandam\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Macedonia, FYR"]=\'North Macedonia\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="St. Kitts and Nevis"]=\'Saint Kitts and Nevis\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="St. Lucia"]=\'Saint Lucia\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="St. Vincent and the Grenadines"]=\'Saint Vincent and the Grenadines\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Slovak Republic"]=\'Slovakia\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Syrian Arab Republic"]=\'Syria\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="NA"]=\'Taiwan*\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="USA"]=\'US\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="UAE"]=\'United Arab Emirates\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="UK"]=\'United Kingdom\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Venezuela, RB"]=\'Venezuela\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="NA"]=\'Western Sahara\'\nfl_data[\'Country Name\'][fl_data[\'Country Name\']=="Yemen, Rep."]=\'Yemen\'\n'

In [7]:
df_conf.drop(['Province/State','Lat', 'Long'],axis=1, inplace=True)
df_c=pd.DataFrame(columns=df_conf.columns)
df_c['Country/Region']=country_list


for col_name in df_c.keys()[1:]:
    for ctry in country_list:
        x=df_conf[col_name][df_conf["Country/Region"]==ctry].sum()
        df_c[col_name][df_c['Country/Region']==ctry]=x
        
        
df_c['region']=""
df_c['Image']=""

for ctry in df_c['Country/Region'].unique():
    df_c['region'][df_c['Country/Region']==ctry]=str(fl_data.region[fl_data['Country Name']==ctry].sum())
    df_c['Image'][df_c['Country/Region']==ctry]=str(fl_data['Image URL'][fl_data['Country Name']==ctry].sum())

In [8]:
df_c[df_c.region=="0"]

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,6/14/21,6/15/21,6/16/21,6/17/21,6/18/21,6/19/21,6/20/21,6/21/21,region,Image
116,Micronesia,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,0

In [5]:
df_c.to_csv("downloaded_for_fl.csv", index=None)